CDSE_CLIENT_ID=ضع_معرف_العميل_هنا
CDSE_CLIENT_SECRET=ضع_السر_هنا

CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_PROCESS_URL=https://sh.dataspace.copernicus.eu/process/v1
CDSE_CATALOG_URL=https://sh.dataspace.copernicus.eu/catalog/v1/search
